@tailwind base;
@tailwind components;
@tailwind utilities;

header ul li{
    @apply px-2;
}

.mobile-menu{
    @apply fixed w-full h-1/4 top-16 left-0 ;
}

.mobile-menu li{
    @apply w-full text-center h-full
}

.bg-head{
    background-color: rgb(0,103,26);
}
.bg-secondary{
    background-color: rgb(137,243,55);
}
.resume-btn{
    @apply p-4 hover:border-4 
}

html{
    scroll-behavior: smooth;
}